<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: fixed; width: 100%; z-index: 100000;">
    <div class="container-fluid">
        <img src="https://w7.pngwing.com/pngs/188/13/png-transparent-tuna-fishing-logo-fish-marine-mammal-mammal-animals.png" alt="" style="width: 80px; margin-left: 70px;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 970px; font-size: 20px;">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/tpi">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tambah_tpi" style="margin-left: 20px;">Add Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/keluar" style="margin-left: 20px;">Logout</a>
            </li>
            </ul>
        </div>
    </div>
</nav>
<!--End Navbar-->